 <!-- Navigation-->
 <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!">
<h1 class="text-center text-light"><i class="fa-solid fa-cart-shopping"></i> &nbsp; E-commerce</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><input (keyup)="search($event)" type="text" placeholder="search your product" class="form-control"></li>
                <li class="nav-item"><a class="nav-link active text text-light" aria-current="page" routerLink="products/wish-list">wishlist</a></li>
               
            </ul>
            <form class="d-flex">
                <button routerLink="products/cart" class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-white text-dark ms-1 rounded-pill">0</span>
                </button>
            </form>
        </div>
    </div>
</nav>  